.controls-label {
    text-align: center;
}

.controls-container {
    display: flex;
    flex-direction: row;
    margin: 10px 20px;
}

.controls-column {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
}