.grid-item {
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center;
    background-color: rgb(230, 230, 230);
    border-radius: 3px;
    width: 60px;
    height: 60px;
    margin: 2px;
}

.grid-item > * {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.terrain-icon {
    position: relative;
    font-size: 35px;
    z-index: 1;
    color: rgb(80, 80, 80);
}

.piece-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: rgba(211, 211, 211, 1);
    box-shadow: 2px 5px rgb(150, 150, 150);
    width: 25px;
    height: 25px;
    border-radius: 10px;
}

.soldier-icon {
    color: blue;
    font-size: 20px;
}

.sniper-icon {
    color: red;
    font-size: 20px;
}