.grid-item {
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center;
    background-color: rgb(230, 230, 230);
}

.grid-item > * {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.terrain-icon {
    position: relative;
    z-index: 1;
    color: rgb(80, 80, 80);
}

.piece-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: rgba(211, 211, 211, 1);
}

.soldier-icon {
    color: blue;
}

.sniper-icon {
    color: red;
}